.woopspro-product-slider * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.woopspro-product-slider .products {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s linear;
}

.woopspro-product-slider .products.slick-initialized {
	visibility: visible;
	opacity: 1;
}

.woopspro-product-slider .slick-list {
	padding-top: 10px;
	padding-bottom: 25px;
}

.woopspro-product-slider .products li {
	margin: 0 0px !important;
	padding: 0 5px !important;
	clear: none !important;
}

.woopspro-product-slider ul.products li.product.first {
	clear: none !important;
	float: left !important
}

.woopspro-product-slider button.slick-arrow {
	width: 15px;
	height: 26px;
	position: absolute;
	z-index: 9;
	text-indent: -99999px;
	border: 0px !important;
	padding: 20px 15px !important;
	text-align: center;
	margin: 0px !important;
	border-radius: 0px !important;
	cursor: pointer;
}

.woopspro-product-slider button.slick-next, .woopspro-product-slider button.slick-next:hover, .woopspro-product-slider button.slick-next:focus {
	background: #555 url(arrow-right.png) center center no-repeat !important;
	background-size: 15px 26px !important;
	outline: none !important
}

.woopspro-product-slider button.slick-prev, .woopspro-product-slider button.slick-prev:hover, .woopspro-product-slider button.slick-prev:focus {
	background: #555 url(arrow-left.png) center center no-repeat !important;
	background-size: 15px 26px !important;
	outline: none !important
}

.woopspro-product-slider .slick-dots {
	padding: 0 !important;
	margin: 0 !important;
	position: absolute;
	bottom: 0px;
	text-align: center;
	width: 100%
}

.woopspro-product-slider .slick-dots li button {
	text-indent: -99999px;
}

.woopspro-product-slider .slick-dots li {
	list-style: none !important;
	display: inline-block !important;
	margin: 0 2px !important;
	padding: 0px !important;
	width: 10px !important;
	height: 10px !important;
}

.woopspro-product-slider .slick-dots li button {
	background: #fff !important;
	margin: 0px !important;
	padding: 0px !important;
	border: 1px solid #000;
	border-radius: 50% !important;
	width: 10px !important;
	height: 10px !important;
}

.woopspro-product-slider .slick-dots li button:focus {
	outline: none !important
}

.woopspro-product-slider .slick-dots li.slick-active button {
	background: #444 !important;
}

.woopspro-slider-conf {
	display: none;
}

.woopspro-product-slider .slick-arrow {
	top: 38%;
}

.woopspro-product-slider button.slick-next {
	right: 5px;
}

.woopspro-product-slider button.slick-prev {
	left: 5px;
}